{{#if rogueAssets}}

	{{#each rogueAssets}}

		<div class="rogueasset" data-collapsed="false" data-uuid="{{this.id}}">
			Article <a href="https://ft.com/content/{{this.id}}" target="_blank">{{this.id}}</a> has been tagged as an 'audio article' but has no metadata or audio files to support it. <br />If possible, please check that this article is supposed to be tagged with 'audio article'.
		</div>

	{{/each}}

{{/if}}