<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-fonts@^2.2.0,o-loading@^1.0.0" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
